/* 공통 색 변수 */
:root {
    --admin-main-color: #333;
    --admin-accent-color: #ffce54;
  }
  
  /* 전체 관리자 폰트 */
  .admin-layout * {
    font-family: 'Pretendard', sans-serif;
  }
  
  /* 공통 버튼 */
  .admin-btn {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* 공통 타이틀 */
  .admin-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  