.modal-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.modal-box {

    opacity: 0;
    /* 투명하게 숨기기 */
    visibility: hidden;
    /* 영역을 차지하지 않게 숨기기 */
    /* transition: opacity 0.1s ease; */
    /* 부드럽게 나타나도록 애니메이션 추가 */

    position: absolute;
    top: 100%;

    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(to bottom, aliceblue, #ffffff);
    /* background-color: aliceblue; */
    color: white;
  
    border-radius: 4px;
    font-size: 14px;


    z-index: 20;

    white-space: nowrap;
}


.modal-container:hover .modal-box {
    opacity: 1;
    /* 보이게 만들기 */
    visibility: visible;
}

.modal-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal-box li {
    display: block;
    /* <li>는 기본적으로 블록이지만 명시 */
    padding: 5px 15px;
    /* 항목별 상하/좌우 패딩 */
    line-height: 1.5;
}

.modal-box li a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: #c50000;
    /* 링크 색상 */
    display: block;
    font-size: 14px;
    /* 링크가 <li> 영역 전체를 클릭 가능하게 함 */
}
